<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>{{ user.username }}'s Profile</title>
</head>
<body>
    {% include 'header.html' %}
    <main>
        <div class="subheader">
            <h2>{{ user.username }}'s Profile</h2>
            <p>Joined on: {{ user.created_at.strftime('%d %B %Y') }}</p>
        </div>
        <h2>Submit a Question</h2>
        <form method="POST" action="{{ url_for('profile', username=user.username) }}">
            {{ question_form.hidden_tag() }}
            <div>
                {{ question_form.question_text.label }}<br>
                {{ question_form.question_text(rows=4, cols=50) }}<br>
                {% for error in question_form.question_text.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                {{ question_form.anonymous() }} {{ question_form.anonymous.label }}
            </div>
            <div>
                {{ question_form.submit() }}
            </div>
        </form>

        <h2>Answered Questions</h2>
        <ul>
            {% for answer in user.answers %}
                <li>
                    <strong>Question:</strong> {{ answer.question.question_text }}<br>
                    <strong>Answer:</strong> {{ answer.answer_text }}<br>
                    Answered: {{ answer.created_at|time_since }}
                </li>
            {% endfor %}
        </ul>
    </main>
    {% include 'footer.html' %}
</body>
</html>