{% extends 'base.html' %}
{% block title %}Home - Qbox{% endblock title %}
{% block og_title %}Home - Qbox{% endblock og_title %}
{% block og_description %}Welcome to Qbox!{% endblock og_description %}
{% block og_image %}{{ url_for('static', filename='images/home-og-image.png') }}{% endblock og_image %}
{% block og_type %}website{% endblock og_type %}
{% block content %}
        <h1>Welcome to Qbox!</h1>
        {% if current_user.is_authenticated %}
            <p>Hello, {{ current_user.username }}!</p>
            <p><a href="{{ url_for('logout') }}">Logout</a></p>
        {% else %}
            <p><a href="{{ url_for('login') }}">Login</a> | <a href="{{ url_for('register') }}">Register</a></p>
        {% endif %}
{% endblock content %}